<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pwr.am.kingscup" >

    <uses-feature android:glEsVersion="0x00030001" android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.menu.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.menu.JoinActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen" >
        </activity>
        <activity
            android:name=".activity.lobby.LobbyActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen" >
        </activity>
        <activity
            android:name=".activity.lobby.PlayerViewActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen" >
        </activity>
        <activity
            android:name=".activity.lobby.CardViewActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen" >
        </activity>
        <activity
            android:name=".activity.menu.OptionsActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"
            android:windowSoftInputMode="stateUnchanged" >
        </activity>
        <activity
            android:name=".activity.menu.AboutActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen" >
        </activity>
        <activity
            android:name=".activity.game.GameBoardActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen">
        </activity>
        <activity
            android:name=".activity.lobby.CardChangeActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen">
        </activity>
        <activity
            android:name=".activity.game.EndGameActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen">
        </activity>
        <service
            android:name=".services.GameServer"
            android:enabled="true"
            android:exported="false">
        </service>

    </application>

</manifest>